# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/*
!**/packages/build/

# Rider
.idea/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Environment
.env
.env.*
!.env.example
