## A streamlined .gitignore for modern .NET projects
## Get latest from https://github.com/github/gitignore/blob/main/Dotnet.gitignore

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]emp/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg

# dotenv environment variables file
.env
.env.*
!.env.example

# Rider
.idea/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# MSBuild Binary and Structured Log
*.binlog

# MSTest / NUnit test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Code Coverage
CodeCoverage/

# Others
~$*
*~
